* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background: url('img/retina_wood.png');
}

.container {
    margin: auto;
    max-width: 70vh;
}

header {
    text-align: center;
    margin: 20px 0;
}

h2 {
    display: block;
    color: #7f5539;
}
header .container {
    display: flex;
    
}
.container .stopwatch {
    margin: auto;
    display: inline-block;
    color: #6f4b32;
    font-size: 2.25rem;
    padding: 10px 3px;
    border: 2px solid #fff;

}
.container button {
    margin: auto;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    background-color: #9d0208;
    padding: 26px 8px;
    color: #ccc;
    border: none;
    box-shadow: 0 0.6em #6a040f, 0 0.9em rgba(0, 0, 0, 0.4);
    border-radius: 100%;
} 

.container button:hover{
    top: 0.2rem;
    box-shadow: 0 0.4em #6a040f, 0 0.6em rgba(0, 0, 0, 0.4);
    transition: all .15s;

}

.container button:active{
    top: 0.4rem;
    box-shadow: 0 0.2em #6a040f, 0 0.2em rgba(0, 0, 0, 0.4);

}

.board{
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* Adding 3D perspective*/
    perspective: 1000px; 
}

.card {
    background: url('img/front-face.jpg');
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    box-shadow: 2px 4px 4px -2px rgba(0,0,0,0.5);

    /* Adding 3D perspective*/
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: url('/img/front-face.jpg');   
    /* hiding the backface card*/
    backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
}

.scores {
    display: flex;
}

.scores p {
    /* padding: 10px; */
    margin: auto;
    color: #6f4b32;
    border-radius: 3px;
    font-size: 1.25rem;

}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: .625rem;
}

footer a {text-decoration: none;}

@media (max-width: 30rem) {
    html {
        font-size: 14px;
    }
    .container {
        width: 100%;
    }
    .container button {
        padding: 16px 6px;
    }
    .board {
        display: flex;
        justify-content: center;
    }
    .card {
        width: 25%;
        height: auto;
        align-items: center;
        margin: 5px;

    }

    .scores {
        display: block;
        text-align: center;
    }
}